body,html{
  height:100%;
  background: #209cee;
}

.heading{
  color: white;
  text-align: center;
}

.todo{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding:10px;
  background-color: white;
  border-radius: 5px;
}

.todo p{
  width: 90%;
}

.status button{
  margin: 5px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid lightgray;
}

.complete{
  background-color: #209cee;
  color: white;
}

.delete{
  background-color: red;
  color: white;
}

input{
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
  width: 97%;
}

.todos{
  height:500px;
  overflow: auto;                             /*    gives scrolling after more than height */
  background-color: lightgray;
  margin : 5px;
  padding: 5px;
  border-radius: 5px;
}

.developer{
  background-color: maroon;
  width: 200px;
  text-align: center;
  color: white;
  transform: rotate(-45deg);
  position: absolute;
  top: 40px;
  left: -45px;
  padding: 5px;
}

.developer a{
  color: whitesmoke
}